<div [formGroup]="patient" class="flex bg-white justify-between rounded-lg px-4 border-[1px] py-2 mb-6 shadow-lg">
    <div class="text-[14px] flex items-center">Name:
        <input formControlName="patientName" autocomplete="off" type="text" placeholder="Name"
            class="w-4/5 h-8 rounded-md bg-white py-1.5 px-3 text-base font-normal text-[14px] text-[#6B7280] outline-none focus:border-[#6A64F1]" />
    </div>
    <div class="text-[14px] flex items-center">Age:
        <input formControlName="patientAge" autocomplete="off" type="text" placeholder="Age"
            class="w-4/5 h-8 rounded-md bg-white py-1.5 px-3 text-base font-normal text-[14px] text-[#6B7280] outline-none focus:border-[#6A64F1]" />
   
        </div>
    <div class="text-[14px] flex items-center">Blood:
        <input formControlName="patientBloodGroup" autocomplete="off" type="text" placeholder="Blood Group"
            class="w-4/5 h-8 rounded-md bg-white py-1.5 px-3 text-base font-normal text-[14px] text-[#6B7280] outline-none focus:border-[#6A64F1]" />
    </div>
    <div class="text-[14px] flex items-center">Mobile:
        <input formControlName="patientPhoneNo" autocomplete="off" type="text" placeholder="Mobile No"
            class="w-4/5 h-8 rounded-md bg-white py-1.5 px-3 text-base font-normal text-[14px] text-[#6B7280] outline-none focus:border-[#6A64F1]" />
    </div>
    <!-- <div class="text-[14px] flex items-center">Gender:
        <input formControlName="patientBloodGroup" autocomplete="off" type="text" placeholder="Blood Group"
            class="w-4/5 h-8 rounded-md bg-white py-1.5 px-3 text-base font-normal text-[14px] text-[#6B7280] outline-none focus:border-[#6A64F1]" />
    </div> -->
    <!-- <div class="flex items-center">Date:
        <input formControlName="date" autocomplete="off" required type="date"
            class="rounded-md w-4/5 py-1.5 px-3 text-base font-normal text-[14px] text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
    </div> -->
</div>