<div
  class="flex gap-4 cursor-pointer group justify-between bg-white px-5 py-3 items-center rounded-lg border-[1px] max-w-full shadow-2xl shadow-blue-400/20"
>
  <div class="">
    <h3 class="font-medium transition-all duration-100">{{ details.title }}</h3>
    <h1 class="dashbord-heading-text text-[22] xl:text-[24px]">
      {{ details.currency ? (details.data | currency : "BDT ") : details.data
      }}<span
        class="text-[12px] xl:text-[14px] font-normal text-green-700"
      ></span>
    </h1>
  </div>
  <div
    class="group-hover:scale-105 transition-all duration-100 w-[40px] h-[40px] xl:w-[50px] xl:h-[50px] shadow-xl text-center border-radius-md bg-gradient-to-r flex items-center justify-center from-cyan-500 to-blue-500 rounded-lg"
  >
    <i
      class="fa-solid fa-bed-pulse box-shado text-blue-50 text-[22px] xl:text-[24px]"
    ></i>
  </div>
</div>
