<!-- <div class="overflow-hidden" class="doctor-dashboard_midcontent_container">
  <div class="doctor-dashboard_midcontent_container w-ful">
    <div class="flex items-center justify-left">
      <div class="w-full bg-[#f1f3ff]">
        <div class="relative overflow-x-auto sm:rounded-lg">
          <div class="w-full">
            <app-all-appointments
              [id]="doctorId"
              [user]="'doctor'"
            ></app-all-appointments>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<app-all-appointments [id]="doctorId" [user]="'doctor'"></app-all-appointments>