
@media (min-width:320px) and (max-width:575px) {
    ::ng-deep .cdk-overlay-pane{
    max-width: 100%!important;
    }
}

@media (min-width:576px) and (max-width:980px) {
    ::ng-deep .cdk-overlay-pane{
    width: 100%;
    }
}

@media (min-width:981px) and (max-width:1200px) {
    ::ng-deep .cdk-overlay-pane{
    width: 40%!important;
    }
}
@media (min-width:1201px) and (max-width:2000px) {
    ::ng-deep .cdk-overlay-pane{
    width: 35%!important;
    }
}