<h1 class="text-2xl md:text-3xl text-center font-Roboto text-slate-900 md:mt-6 lg:mt-8">
    Signup
</h1>
<p class="text-slate-500 mt-2 text-center">
    To begin this journey, tell us what type of account you’d be opening.
</p>
<form action="" class="mt-6" [formGroup]="signupForm">
    <div class="grid sm:gap-x-6 grid-cols-1 sm:grid-cols-2">
        <label for="radio-card-1" class="radio-card">
            <input autocomplete="off" type="radio" id="radio-card-1" formControlName="userTypeName" value="Doctor" />
            <div class="card-content-wrapper">
                <span class="check-icon"></span>
                <div class="card-content">
                    <img width="50" height="50" ngSrc="/assets/auth/doctor.png" alt="doctor" />
                    <h4>I am a Doctor</h4>
                </div>
            </div>
        </label>
        <label for="radio-card-2" class="radio-card">
            <input autocomplete="off" type="radio" id="radio-card-2" formControlName="userTypeName" value="Patient" />
            <div class="card-content-wrapper">
                <span class="check-icon"></span>
                <div class="card-content">
                    <img width="50" height="50" ngSrc="/assets/auth/hospitalisation.png" alt="patient" />
                    <h4>I am a Patient</h4>
                </div>
            </div>
        </label>
        <mat-error class="text-red-500" *ngIf="
            formSubmitted &&
            (signupForm.get('userTypeName')?.invalid &&
            !signupForm.get('userTypeName')?.touched)
          ">
            Please select user type.
        </mat-error>
    </div>

    <div class="flex flex-col space-y-5 mt-10">
        <div>
            <label for="mobile">
                <div class="form_input flex h-[50px] shadow-blue bg-white items-center" [ngClass]="{
          'border-red-500':
         signupForm.get('mobile')?.invalid &&
           signupForm.get('mobile')?.touched
        }">
                    <span matPrefix class="h-full mt-2 font-Roboto text-[16px]">+88 &nbsp;</span>
                    <input autocomplete="off" matInput maxlength="11"
                        class="w-full bg-white border-none outline-none font-Roboto h-fit font-semibold text-[16px]"
                        type="tel" formControlName="mobile" id="mobile" placeholder="018-000-00000" required
                        inputmode="numeric" />
                </div>

            </label>
            <mat-error class="text-red-600" *ngIf="
      formSubmitted && signupForm.get('mobile')?.hasError('required')
    ">
                You must enter a valid mobile number.
            </mat-error>
            <mat-error class="text-red-500" *ngIf="
      formSubmitted && signupForm.get('mobile')?.hasError('pattern')
    ">
                Mobile number should have exactly 11 digits and follow the
                Bangladeshi format.
            </mat-error>
        </div>
    </div>
</form>
