<div class="w-full px-3" >
    <div class="mb-5">
        <label [for]="inputId" class="label">
            {{ label }}
        </label>
        <ng-container *ngIf="isSelectInput; else textInput">
            <select  [disabled]="disabled"  [id]="inputId" class="form_input" [value]="value" (input)="updateValue($event)" >
                <option value="0">--Select--</option>
                <option *ngFor="let item of options" [value]="item.id">{{ item.name }}</option>
            </select>
        </ng-container>
        <ng-template #textInput>
            <input required 
            [id]="inputId" 
            [type]="type" 
            [placeholder]="placeholder" 
            [readonly]="readonly" 
            class="form_input" 
            [value]="value" 
            (input)="updateValue($event)"
            >

        </ng-template>

      
    </div>
</div>

