<div class="px-4 py-3 font-Roboto">
  <table class="w-full text-sm text-left rounded-lg text-gray-500 border-[1px]">
    <thead class="text-xs rounded-lg text-gray-800 uppercase bg-black/5">
      <tr>
        <th scope="col" class="px-6 py-3">Patient's Name</th>

        <th scope="col" class="px-6 py-3">Doctor's Name</th>
        <th scope="col" class="px-6 py-3">Dr. Specialist</th>
        <th scope="col" class="px-6 py-3">Status</th>
        <th scope="col" class="px-6 py-3">Prescriptions</th>
        <th scope="col" class="px-6 py-3">App. Time</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white hover:bg-gray-50">
        <td class="px-6 py-4">Abdullah</td>
        <td class="px-6 py-4">Dr. John Doe</td>
        <td class="px-6 py-4">Cardiologist</td>
        <td class="px-6 py-4">Upcoming</td>
        <td class="px-6 py-4">sg-patient.pdf</td>
        <td class="px-6 py-4">12/01/23 - 4.50pm</td>
      </tr>
      <tr class="bg-white hover:bg-gray-50">
        <td class="px-6 py-4">Abdullah</td>
        <td class="px-6 py-4">Dr. John Doe</td>
        <td class="px-6 py-4">Cardiologist</td>
        <td class="px-6 py-4">Upcoming</td>
        <td class="px-6 py-4">sg-patient.pdf</td>
        <td class="px-6 py-4">12/01/23 - 4.50pm</td>
      </tr>
      <tr class="bg-white hover:bg-gray-50">
        <td class="px-6 py-4">Abdullah</td>

        <td class="px-6 py-4">Dr. John Doe</td>
        <td class="px-6 py-4">Cardiologist</td>
        <td class="px-6 py-4">Upcoming</td>
        <td class="px-6 py-4">sg-patient.pdf</td>
        <td class="px-6 py-4">12/01/23 - 4.50pm</td>
      </tr>
      <tr class="bg-white hover:bg-gray-50">
        <td class="px-6 py-4">Abdullah</td>
        <td class="px-6 py-4">Dr. John Doe</td>
        <td class="px-6 py-4">Cardiologist</td>
        <td class="px-6 py-4">Upcoming</td>
        <td class="px-6 py-4">sg-patient.pdf</td>
        <td class="px-6 py-4">12/01/23 - 4.50pm</td>
      </tr>
    </tbody>
  </table>
</div>
