<div class="space-y-6 mb-8" (click)="openMedicineDialog.emit()">
    @for (item of medications; track $index) {
    <div class="relative pl-8">
        <div class="absolute left-0 top-0 text-gray-600">{{$index + 1}}</div>
        <div class="font-medium text-gray-800">{{item.name}}</div>
        <div class="text-gray-700 mt-1 pl-4">
            {{item.timming}} {{item.mealTime}} {{item.duration}}
        </div>
        @if (item.notes) {
        <p class="text-gray-700 mt-1 pl-4"> Note :{{item.notes}}</p>
        }
        <div class="border-b border-dashed border-gray-300 mt-2"></div>
    </div>
    }@empty {
    <div
        class="border-dotted rounded-xl border-2 border-gray-300 p-4 text-center w-full h-[100px] flex items-center justify-center">
        <p class="text-gray-500 underline hover:font-bold cursor-pointer duration-200">Add
            Medicine</p>

    </div>
    }
</div>