<app-schedule-heading [doctorData]="doctorData" [totalFee]="totalFee" />
<form [formGroup]="form" (submit)="onSelectItem('isReview')">
  <hr class="h-px my-8 bg-gray-200 border-0" />
  <div class="-mx-3 flex flex-wrap">
    <div class="w-full px-3">
      <div class="mb-5">
        <label
          for="date"
          class="mb-2 block font-medium text-[14px] text-[#07074D]"
        >
          Appointment Date
        </label>

        <input
          matInput
          formControlName="appointmentDate"
          (click)="picker.open()"
          [matDatepickerFilter]="dateFilter"
          [matDatepicker]="picker"
          [max]="maxDate"
          [min]="minDate"
          placeholder="Appointment Date"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-1.5 px-3 text-base font-normal text-[14px] text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          [matDatepicker]="picker"
        />
        <mat-datepicker #picker></mat-datepicker>
        <!-- <mat-calendar /> -->

        <p
          class="text-[14px] text-red-600"
          *ngIf="form.get('appointmentDate')?.hasError('required')"
        >
          Please select appointment date.
        </p>
      </div>
    </div>
    <div class="w-full px-3 sm:w-1/2">
      <div class="mb-5">
        <label
          for="doctorScheduleType"
          class="mb-2 block font-medium text-[14px] text-[#07074D]"
        >
          Select place
        </label>
        <select
          formControlName="doctorScheduleType"
          name="doctorScheduleType"
          id="doctorScheduleType"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-2 px-3 text-base font-normal text-[14px] text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        >
          <option value="0" class="font-semibold text-gray-500">
            Select hospital/chamber
          </option>
          <option
            *ngFor="let item of hospitalList"
            [value]="item.id"
            class="font-semibold text-gray-500"
          >
            {{ item.name }}
          </option>
        </select>
        <p
          class="text-[14px] text-red-600"
          *ngIf="form.get('doctorScheduleType')?.value === '0'"
        >
          Please select a hospital/chamber
        </p>
      </div>
    </div>

    <div class="w-full px-3 sm:w-1/2">
      <div class="mb-5">
        <label
          for="date"
          class="mb-2 block font-medium text-[14px] text-[#07074D]"
        >
          Select appointment type
        </label>
        <select
          formControlName="appointmentType"
          name="appointmentType"
          id="appointmentType"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-2 px-3 text-base font-normal text-[14px] text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        >
          <option value="0" class="font-semibold text-gray-500">
            Select appointment type
          </option>
          <option
            *ngFor="let item of appointmentType"
            [value]="item.id"
            class="font-semibold text-gray-500"
          >
            {{ item.name }}
          </option>
        </select>
        <p
          class="text-[14px] text-red-600"
          *ngIf="form.get('appointmentType')?.value === '0'"
        >
          Please select appointment type
        </p>
      </div>
    </div>
  </div>

  <div class="py-3" *ngIf="filterData?.length > 0">
    <label class="font-Roboto text-[16px] text-slate-800">
      Available Slots :
    </label>
    <div class="mt-2 overflow-x-auto custom-scrollbar height">
      <app-slots></app-slots>
    </div>
  </div>
  <button type="submit"  class="btn-primary disabled:bg-slate-400">Continue</button>
</form>
