<div class="flex items-center justify-left my-7">
  <div class="w-full bg-white">
    <div class="relative overflow-x-auto sm:rounded-lg">
      <div class="py-2 pl-5 pr-1 border-[1px] rounded-md flex gap-4 items-center">
        <h1 class="dashbord-heading-text text-[18px] font-medium">
          <i class="fa-solid fa-building-columns mr-1"></i> Documents Upload
        </h1>
      </div>

      <div class="flex flex-wrap w-full justify-between row-gap-1">
        <!-- <form class="mt-8 space-y-3">
          <div class="grid grid-cols-1 space-y-2">
            <label class="text-sm font-bold text-gray-500 tracking-wide"
              >Attach NID/Passport Document</label
            >
            <div class="flex items-center justify-center w-full">
              <label
                class="flex flex-col rounded-lg border-4 border-dashed w-full h-60 p-10 group text-center"
              >
                <div
                  class="h-full w-full text-center flex flex-col justify-center items-center"
                >
                  <div class="flex flex-auto max-h-48 w-2/5 mx-auto -mt-10">
                    <img
                      class="has-mask h-36 object-center"
                      src="https://img.freepik.com/free-vector/image-upload-concept-landing-page_52683-27130.jpg?size=338&ext=jpg"
                      alt="freepik image"
                    />
                  </div>
                  <p class="pointer-none text-gray-500">
                    <span class="text-sm">Click here to select your file!</span>
                  </p>
                </div>
                <input
                  type="file"
                  #attachments
                  #fileInput
                  accept=".jpg,.jpeg"
                  class="hidden"
                />
              </label>
            </div>
          </div>

          <p class="text-sm text-gray-300">
            <span>File type: jpg and jpeg of images</span>
          </p>
          <div>
            <button type="submit" class="btn-primary w-full focus-ring-primary">
              Update
            </button>
          </div>
        </form> -->
        <div class="-mx-3 flex flex-wrap mt-5">
          <div class="w-1/2 px-3">
            <div class="mb-3">
              <label for="name" class="mb-2 block font-medium text-[16px] font-Roboto text-[#07074D] mt-2">
                Upload Your NID/Passport
              </label>
              <div class="relative w-fit bg-white transition">
                <img width="300" height="180" [src]="profNidUrl ? profNidUrl : '/assets/nid.jpg'" alt=""
                  class="object-cover rounded-lg mx-auto w-[300px] h-[180px] shadow-md border-4 border-white" />

                <input autocomplete="off" #idAttachments type="file" #fileInput2 style="display: none"
                  accept=".gif,.jpg,.jpeg,.png,.doc,.docx,.pdf" (change)="onIdFileChanged($event)" />
                <div
                  class="duration-200 transform hover:scale-110 flex justify-center items-center cursor-pointer absolute -bottom-[8px] -right-[8px] w-[30px] h-[30px] rounded-full p-1 bg-white z-20 border-[1px]">
                  <i class="fa-solid fa-camera text-slate-900" (click)="fileInput2.click()"></i>
                </div>
              </div>

              <table class="w-full text-sm text-left text-gray-500 border-[1px]">
                <tbody>
                  <tr *ngFor="let idFileName of idFileNames; let i = index">
                    <td style="width: 5%">
                      <a href="javascript:void(0)" (click)="removeIdSelectedFile(i)"
                        style="background-color: rgb(196, 32, 32)">
                        <i class="fa fa-window-close" aria-hidden="true"></i>
                      </a>
                    </td>
                    <td style="width: 2%">&nbsp;</td>
                    <td style="width: 93%">
                      {{ idFileName }}
                    </td>
                    <td *ngIf="nidUploadBtn">
                      <button class="btn-secondary" (click)="uploadNID()">
                        Upload
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- [TODO] -->
          <div class="w-1/2 px-3">
            <div class="mb-3">
              <label for="name" class="mb-2 block font-medium text-[16px] font-Roboto text-[#07074D] mt-2">
                Upload Your Signature
              </label>
              <div class="relative w-fit bg-white transition">
                <img width="300" height="180" [src]="profSignUrl ? profSignUrl : '/assets/nid.jpg'" alt=""
                  class="object-cover rounded-lg mx-auto w-[300px] h-[180px] shadow-md border-4 border-white" />

                <input autocomplete="off" #idAttachments type="file" #fileInput3 style="display: none"
                  accept=".gif,.jpg,.jpeg,.png,.doc,.docx,.pdf" (change)="onSignFileChanged($event)" />
                <div
                  class="duration-200 transform hover:scale-110 flex justify-center items-center cursor-pointer absolute -bottom-[8px] -right-[8px] w-[30px] h-[30px] rounded-full p-1 bg-white z-20 border-[1px]">
                  <i class="fa-solid fa-camera text-slate-900" (click)="fileInput3.click()"></i>
                </div>
              </div>

              <tbody>
                <tr *ngFor="let signFileName of signFileNames; let i = index">
                  <td style="width: 5%">
                    <a href="javascript:void(0)" (click)="removeSignSelectedFile(i)"
                      style="background-color: rgb(196, 32, 32)">
                      <i class="fa fa-window-close" aria-hidden="true"></i>
                    </a>
                  </td>
                  <td style="width: 2%">&nbsp;</td>
                  <td style="width: 93%">
                    {{ signFileName }}
                  </td>
                  <button class="btn-secondary" (click)="uploadSign()">
                    Upload
                  </button>
                </tr>
              </tbody>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
