<div class="px-4 py-3 h-[430px] overflow-scroll custom-scrollbar">
  <table class="w-full relative text-sm text-left rounded-lg text-gray-500 border-[1px]">
    <thead class="text-xs sticky h-[50px] -top-4 rounded-lg text-gray-800 uppercase bg-gray-200">
      <tr>
        <th scope="col" class="px-6 py-3">Doctor's Name</th>
        <th scope="col" class="px-6 py-3">Prescription Date</th>
        <td class="px-6 py-4">Appointment Date</td>
        <th scope="col" class="px-6 py-3">Prescription</th>
        <td class="px-6 py-4">Followup Date</td>
        <th scope="col" class="px-6 py-3">Advice</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prescription of prescriptionListDetails" class="bg-white hover:bg-gray-50">
        <td class="px-6 py-4">{{ prescription.doctorName }}</td>

        <td class="px-6 py-4">
          {{ prescription.prescriptionDate | date }}
        </td>
        <td class="px-6 py-4">
          {{ prescription.appointmentDate | date }}
        </td>
        <td class="px-6 py-4">
          <span (click)="openPdfDialog(prescription.id)"
            class="py-1 px-4 border-secondary-dark/10 border-[1px] bg-secondary-light text-white rounded-md cursor-pointer">View</span>
        </td>
        <td class="px-6 py-4">
          {{ prescription.followupDate | date }}
        </td>
        <td class="px-6 py-4">
          {{ prescription.advice }}
        </td>
      </tr>
    </tbody>
  </table>
</div>