<div class="px-4 py-3">
  <table class="w-full text-sm text-left rounded-lg text-gray-500 border-[1px]">
    <thead class="text-xs rounded-lg text-gray-800 uppercase bg-black/5">
      <tr>
        <th scope="col" class="px-6 py-3">Doctor's Name</th>
        <th scope="col" class="px-6 py-3">Dr. Specialist</th>
        <th scope="col" class="px-6 py-3">App. Time</th>
        <th scope="col" class="px-6 py-3">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white hover:bg-gray-50">
        <td class="px-6 py-4">Dr. John Doe</td>
        <td class="px-6 py-4">Cardiologist</td>
        <td class="px-6 py-4">12/01/23 - 4.50pm</td>
        <td class="px-6 py-4 flex gap-2">
          <a class="font-medium text-blue-600 hover:underline">Edit</a>
          <a class="font-medium text-blue-600 hover:underline">Delete</a>
        </td>
      </tr>
      <tr class="bg-white hover:bg-gray-50">
        <td class="px-6 py-4">Dr. John Doe</td>
        <td class="px-6 py-4">Cardiologist</td>
        <td class="px-6 py-4">12/01/23 - 4.50pm</td>

        <td class="px-6 py-4 flex gap-2">
          <a class="font-medium text-blue-600 hover:underline">Edit</a>
          <a class="font-medium text-blue-600 hover:underline">Delete</a>
        </td>
      </tr>
      <tr class="bg-white hover:bg-gray-50">
        <td class="px-6 py-4">Dr. John Doe</td>
        <td class="px-6 py-4">Cardiologist</td>
        <td class="px-6 py-4">12/01/23 - 4.50pm</td>

        <td class="px-6 py-4 flex gap-2">
          <a class="font-medium text-blue-600 hover:underline">Edit</a>
          <a class="font-medium text-blue-600 hover:underline">Delete</a>
        </td>
      </tr>
      <tr class="bg-white hover:bg-gray-50">
        <td class="px-6 py-4">Dr. John Doe</td>
        <td class="px-6 py-4">Cardiologist</td>
        <td class="px-6 py-4">12/01/23 - 4.50pm</td>

        <td class="px-6 py-4 flex gap-2">
          <a class="font-medium text-blue-600 hover:underline">Edit</a>
          <a class="font-medium text-blue-600 hover:underline">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
