<div class="relative">
  <div *ngIf="noDataAvailable" class="flex justify-center items-center h-[500px] w-full">
    <div>No records has been found!</div>
  </div>
  <div class="p-4 w-full grid grid-cols-7 gap-4 flex-wrap">

    <div class="xl:col-span-5 col-span-7">
      <appointment-header [isScheduleList]="specialityList.length <= 0" [totalCount]="totalCount" [userType]="userType"
        (exportToCSV)="exportToCSV()" [exportLoader]="exportLoader"
        (createAppointmentByAgent)="createAppointmentByAgent()"
        (createAppointmentByAssistant)="createAppointmentByAssist()" />
      <div *ngIf="skelton" class="pt-4">
        <app-wide-skelton />
        <app-wide-skelton />
        <app-wide-skelton />
      </div>

      <appointments [user]="userType" [appointmentList]="appointmentList" (onScrollDown)="onScrollDown()"
        (completeAppointment)="completeAppointment($event)" (cancelAppointment)="cancelAppointment($event)" />
      @if (noDataText) {
      <div class="text-center">
        No more data is available!
      </div>
      }
    </div>
    <appointment-filter class="col-span-3 xl:col-span-2 hidden xl:block" />
  </div>
</div>