@if (isHeader) {
<div class="flex justify-between w-full gap-6">
    <div class="w-1/2 mb-5">
        <h1 class="text-2xl font-RobotoBold text-slate-900 !mb-2">{{doctor.doctorName}}</h1>
        <p>{{doctor.qualification}}</p>
        @for (item of doctor.degree; track $index) {
        <p class="text-gray-500 !mb-0">{{item.degreeName}} - {{item.instituteName}},{{item.instituteCity}}</p>
        }
        <p class="text-gray-500">{{doctor.areaOfExperties}}</p>
        <p class="text-gray-500">BMDC:{{doctor.bmdc}}</p>
    </div>

    <div class="w-1/2 text-right mb-2">

        @for (item of doctor.chamber; track $index) {
        <p class="text-slate-900 font-Roboto text-right text-[20px] !mb-0 whitespace-wrap">{{item.chamberName}}</p>
        <p class="text-gray-500 font-RobotoLight text-right text-[14px] !mb-0 whitespace-wrap">
            {{item.address}}, {{item.city}} - {{item.zipCode}}</p>
        }@empty {

        @if (isPreHand) {
        <p class="text-slate-900 font-RobotoBold text-right text-[22px] !mb-0 whitespace-nowrap">Prescriba Online</p>
        <p class="text-gray-500 text-right !mb-0 whitespace-nowrap">+880 1605-144633</p>
        <p class="text-gray-500 text-right !mb-0 whitespace-nowrap">info&#64;prescriba.com
        </p>
        }
        @if(!doctor?.chamber?.length && !isPreHand) {
        <p class="text-slate-900 font-RobotoBold text-right text-[22px] !mb-0 whitespace-nowrap">Prescriba Online</p>
        <p class="text-gray-500 text-right !mb-0 whitespace-nowrap">+880 1605-144633</p>
        <p class="text-gray-500 text-right !mb-0 whitespace-nowrap">info&#64;prescriba.com
        </p>
        }
        }


        <!-- @for (item of doctor.schedule; let last = $last; track $index) {
              <span class="whitespace-nowrap">
                {{ item.day }} - {{ ('1970-01-01T' + item.time) | date:'hh:mm a' }}<span *ngIf="!last">, </span>
              </span>
            } -->

        <div class="flex gap-3 flex-wrap justify-end">

            @for (item of doctor.schedule; let last = $last; track $index) {
            <span class="whitespace-nowrap">
                {{ item.start !== item.end ? item.start + ' - ' + item.end : item.start }}
                <strong>
                    ({{ item.startTime }} - {{ item.endTime}})
                </strong> </span>
            }
        </div>


        <!-- <button (click)="enterFullScreen.emit()" class="whitespace-nowrap">Full Screen</button> -->
    </div>
</div>
}


