@if (item.patientCount > 0) {
<div class="flex items-center">
  <input
    hidden
    [id]="item.id"
    type="radio"
    [value]="item.id"
    name="default-radio"
    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2"
  />
  <label
    [for]="item.id"
    (click)="selectSlot(item)"
    class="radio-card flex py-2 px-3 border-[1px] border-secondary-dark/20 bg-secondary-light text-white cursor-pointer"
  >
    <div class="card-content-wrapper">
      <span class="check-icon"></span>
      <div class="card-content tooltip">
        <p class="text-[14px]">{{ item.startTime }} - {{ item.endTime }}</p>
      </div>
      <p class="text-[14px]">({{ item.patientCount }} slot available)</p>
    </div>
  </label>
</div>

}@else {
<p class="absolute top-0 text-red-500">
  No slot available for your selected date/hospital/chamber. Please change your
  selection!
</p>
}

<!-- <button mat-raised-button
        matTooltip="Info about the action"
        aria-label="Button that displays a tooltip when focused or hovered over">
  Action
</button> -->
