<div class="flex justify-between py-4 px-6 border-b-[1px] items-center">
    <h1 class="dashbord-heading-text"> <i class="fa-solid fa-plus"></i> {{editData ? "Update" : "Appointment"}} Booking
    </h1>
    <button class="btn-secondary-light" >Close</button>
</div>





<div class="px-10 py-6">
    <form [formGroup]="form">
        <div class="-mx-3 flex flex-wrap">
            <div class="w-full px-3 sm:w-full">
                <div class="mb-5">
                    <label for="chamberName" class="mb-2 block font-medium text-[14px] text-[#07074D]" >
                       Patient's Mobile No.
                    </label>
                    <input formControlName="chamberName" type="tel" name="chamberName" id="chamberName" placeholder="Patient's Mobile No." required
                        class="form_input" />

                </div>
            </div>
            <div class="w-full px-3 sm:w-1/2">
                <div class="mb-5">
                    <label for="city" class="mb-2 block font-medium text-[14px] text-[#07074D]">
                       Patient Name
                    </label>
                    <input placeholder="   Patient Name" formControlName="city" type="text" name="city" id="city" placeholder="City"
                        class="form_input" />
                </div>
            </div>
            <div class="w-full px-3 sm:w-1/2">
                <div class="mb-5">
                    <label for="city" class="mb-2 block font-medium text-[14px] text-[#07074D]">
                      NID
                    </label>
                    <input placeholder="NID" formControlName="city" type="text" name="city" id="city" placeholder="City"
                        class="form_input" />
                </div>
            </div>
            <div class="w-full px-3 sm:w-1/2">
                <div class="mb-5">
                    <label for="address" class="mb-2 block font-medium text-[14px] text-[#07074D]">
                        Specialist
                    </label>
                    <input placeholder="Specialist" formControlName="address" type="text" name="address" id="address" class="form_input" />

                </div>
            </div>

            <div class="w-full px-3 sm:w-1/2">
                <div class="mb-5">
                    <label for="city" class="mb-2 block font-medium text-[14px] text-[#07074D]">
                       Doctor Name
                    </label>
                    <input placeholder="Doctor Name" formControlName="city" type="text" name="city" id="city" placeholder="City"
                        class="form_input" />
                </div>
            </div>


        </div>

        <button class="btn-secondary mt-5 group"> Continue <i class="ml-3 group-hover:ml-4 transition-all duration-200 fa-solid fa-arrow-right"></i></button>

    </form>
</div>