<!-- <li *ngFor="let item of menuItemDetails" [routerLink]="item.route" (click)="onClickItem()"
  class="overflow-hidden rounded-lg transition-all box-border hover:bg-[#5195fc0e]">
  <a class="text-[15px] lg:text-[16px] font-Roboto py-3 lg:py-4 text-slate-900" routerLinkActive="active">
    <i class="max-w-[25px] max-h-[25px] lg:w-[30px] lg:h-[30px] text-slate-900 flex items-center justify-center drop-shadow-lg 0px 7px 29px 0px] bg-white {{ item.icon }}"></i>
    {{ item.menuName }}
  </a>
</li> -->
