<div class="px-4 md:px-5 py-4 md:py-6 border-[1px] rounded-md mt-3 transition-all ease-in-out duration-1000"
  [class]="openFormComponent ? 'block ' : ' hidden '">
  <form [formGroup]="form">
    <div class="-mx-3 flex flex-wrap">
      <div class="w-full px-3 sm:w-1/3">
        <div class="mb-5">
          <label for="consultancyType" class="mb-2 block font-medium text-[14px] text-[#07074D]">
            Consultancy Type
          </label>
          <select autocomplete="off" formControlName="consultancyType" id="consultancyType"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-2 px-3 text-base font-normal text-[14px] text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md">
            <option value="0" class="text-gray-500">--Select--</option>
            <option *ngFor="let item of consultancyType" value="{{ item.id }}" class="font-semibold text-gray-500">
              {{ item.name }}
            </option>
          </select>
          <p class="text-red-500 text-sm" *ngIf="
              formSubmitted &&
              form.get('consultancyType')?.hasError('required') &&
              form.get('doctorChamberId')?.value != 0
            ">
            Please select consultancy type!
          </p>
        </div>
      </div>

      <div class="w-full px-3 sm:w-1/3" [ngClass]="isDisable ? 'hidden' : 'block'">
        <div class="mb-5">
          <label for="doctorChamberId" class="mb-2 block font-medium text-[14px] text-[#07074D]">
            Hospital/Chamber
          </label>
          <select autocomplete="off" formControlName="doctorChamberId" id="doctorChamberId"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-2 px-3 text-base font-normal text-[14px] text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md">
            <option value="0" class="py-1 text-gray-500">--Select--</option>
            <option *ngFor="let item of hospitalList" value="{{ item.id }}" class="font-semibold text-gray-500">
              {{ item.name }}
            </option>
          </select>
          <p class="text-red-500 text-sm" *ngIf="
              formSubmitted &&
              form.get('doctorChamberId')?.hasError('required') &&
              form.get('doctorChamberId')?.value != 0
            ">
            Please select hospital/chamber!
          </p>
        </div>
      </div>

      <div class="w-full px-3 sm:w-1/3">
        <div class="mb-5">
          <label for="scheduleType" class="mb-2 block font-medium text-[14px] text-[#07074D]">
            Schedule Type
          </label>
          <select autocomplete="off" formControlName="scheduleType" id="scheduleType"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-2 px-3 text-base font-normal text-[14px] text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md">
            <option value="0" class="py-1 text-gray-500">--Select--</option>
            <option *ngFor="let item of scheduleType" value="{{ item.id }}" class="font-semibold text-gray-500">
              {{ item.name }}
            </option>
          </select>
          <p class="text-red-500 text-sm" *ngIf="
              formSubmitted &&
              form.get('scheduleType')?.hasError('required') &&
              form.get('doctorChamberId')?.value != 0
            ">
            Please select schedule type!
          </p>
        </div>
      </div>

      <div class="w-full px-3 sm:w-full">
        <div class="mb-5">
          <label for="appointmentType" class="mb-2 block font-medium text-[14px] text-[#07074D]">
            Select your days
          </label>

          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr class="flex flex-wrap gap-2">
                <div *ngFor="let day of days" class="flex flex-1 flex-col">
                  <th class="btn-secondary text-slate-900 border-gray-300 cursor-pointer" [style.box-shadow]="
                      getDaySessions(day).length > 0 ? 'none' : ''
                    " [class.active]="getDaySessions(day).length > 0" [style.background-color]="
                      getDaySessions(day).length > 0 ? '#fde68a' : 'white'
                    " [style.color]="
                      getDaySessions(day).length > 0 ? '#f97316' : ''
                    " (click)="toggleDaySelection(day)">
                    {{ day }}
                  </th>
                  <div class="mt-2 min-w-[105px]" *ngFor="let time of getDaySessions(day)">
                    <div [ngClass]="getDaySessions(day).length > 0 ? 'min-w-[165px]' : 'min-w-[140px]'"
                      class="bg-primary-light w-full flex gap-3 justify-center items-center rounded-[5px] text-[14px] font-Roboto font-medium text-center text-slate-900 py-2 px-2">
                      <span (click)="onSessionEdit(day,time)">
                        {{ time.startTime }} - {{ time.endTime }}
                      </span>
                      <i class="fa-solid fa-xmark cursor-pointer" (click)="onSessionRemove(time.id)"></i>
                    </div>
                  </div>
                </div>
              </tr>
            </thead>
            <p *ngIf="
                formSubmitted &&
                form.get('isSlotSelected')?.hasError('required')
              " class="text-red-600 font-sm mb-6 ml-4">
              Please select at least one slot
            </p>
          </table>
        </div>
      </div>
    </div>
  </form>
  <button class="btn-secondary" (click)="submit()">
    submit
  </button>
</div>

