<!-- <div class="bg-white h-[300px]">
  <div
    class="bg-primary h-[100px] w-full flex flex-col justify-center items-center"
  >
    <img ngSrc="/assets/SoowGood-Logo.png" alt="logo" width="200" height="80" />
    <h1 class="text-slate-900 text-[18px] font-roboto mt-3">
      Welcome to Soowgood.
    </h1>
  </div>

  <div class="p-8 flex justify-center items-center flex-col">
    <p>
      You must be
      <a
        class="text-blue-500 font-bold"
        (click)="dialogRef.close()"
        routerLink="/login"
        >Login!
      </a>
      to continue!
    </p>

    <p>or</p>
    <p>
      <a
        class="text-blue-500 font-bold"
        (click)="dialogRef.close()"
        routerLink="/signup"
        >Register</a
      >
      a new account.
    </p>
  </div>
</div> -->

<app-login-input [navigateURL]="navigateURL" />