<div class="flex items-center justify-between bg-gray-100 border-y-[1px] border-gray-200 py-2 px-4">
    <div class="flex items-center">
        <img src="/assets/patients/patient.png" alt="Patient" class="w-10 h-10 rounded-full mr-3">
        <div>
            <p class="font-medium capitalize font-Roboto">{{details.patientName}}
                <span class="text-xs font-normal text-green-500">({{details.appointmentTypeName}})</span> - <span
                    class="text-xs font-normal text-gray-500">Serial:
                    {{details.appointmentSerial}}</span>
            </p>
            <p class="text-xs text-gray-500">
                {{details.appointmentTime ?? ''}},
                {{details.appointmentDate | date: 'dd MMM yyyy' }}</p>
        </div>
    </div>

    @if (type!=='chamber') {
    <button (click)="joinCall(details,'doctor')"
        class="px-3 py-1 disabled:bg-gray-200 disabled:text-gray-500 font-poppins border disabled:border-none border-green-500 bg-green-100 text-green-600 rounded-full text-xs">Join
        video call
    </button>
    }
</div>