
.scrolled {
    /* Styles for scrolled state */
    background:#f4c1c8 ;
    opacity: 1;
    transition: 0.4s;
    border-bottom: 1px solid #fbbf24;
  }



  .home-menu{
    width: 320px;
    position: fixed;
 
    top: 65px;
    height: calc(100vh - 65px);
    transition: 0.3s;
    padding: 15px;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    ul{
      li{
        color: white;
        transition: 0.3s;
      }&:hover{
        color: #fbbf24;
      }
    }

  }
  .show-home-menu{
    left: 0%;
  }
  .hide-home-menu{
    left: -150%;
  }
  ::ng-deep .mt-header-menu.mat-mdc-menu-panel,
  ::ng-deep .mt-header-menu.mat-mdc-menu-panel .mat-mdc-menu-content{
    background-color: transparent;
    border-radius: none;
    padding: 0;
    }
