<div class="max-w-3xl mx-auto mt-5">
  <h1 class="text-[36px] font-bold text-slate-900 mb-5">
    Soowgood Video Consultation
  </h1>
  <p class="text-[14px] font-poppins">
    When you are ready for receiving oatients, set yourself Online. You'll then
    have access to the Waiting Room, where patients are waiting to be called. If
    you can't talk in that rmormert, click Deny and they will bg reassigned to
    another available doctor.
  </p>

  <div class="flex flex-col mt-5">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div class="border rounded-lg divide-y divide-gray-200">
          <div class="py-3 px-4 flex justify-between items-center">
            <div class="relative max-w-xs">
              <label class="sr-only">Search</label>
              <input
                type="text"
                name="hs-table-with-pagination-search"
                id="hs-table-with-pagination-search"
                class="py-2 px-3 ps-9 block w-full border-gray-200 shadow-sm rounded-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                placeholder="Search for items"
              />
              <div
                class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-3"
              >
                <svg
                  class="size-4 text-gray-400"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <circle cx="11" cy="11" r="8"></circle>
                  <path d="m21 21-4.3-4.3"></path>
                </svg>
              </div>
            </div>
            <div class="flex gap-6">
              <button
                class="flex gap-3 bg-secondary-light border-[1px] px-5 py-2 text-white font-semibold border-secondary-dark rounded-md"
              >
                <svg
                  width="24px"
                  height="24px"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></g>
                  <g id="SVGRepo_iconCarrier">
                    <path
                      opacity="0.5"
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M12 3.25C12.4142 3.25 12.75 3.58579 12.75 4L12.75 13.25H11.25L11.25 4C11.25 3.58579 11.5858 3.25 12 3.25Z"
                      fill="#13779c"
                    ></path>
                    <path
                      d="M6.00002 13.25C5.69667 13.25 5.4232 13.4327 5.30711 13.713C5.19103 13.9932 5.25519 14.3158 5.46969 14.5303L11.4697 20.5303C11.6103 20.671 11.8011 20.75 12 20.75C12.1989 20.75 12.3897 20.671 12.5304 20.5303L18.5304 14.5303C18.7449 14.3158 18.809 13.9932 18.6929 13.713C18.5768 13.4327 18.3034 13.25 18 13.25L6.00002 13.25Z"
                      fill="#13779c"
                    ></path>
                  </g>
                </svg>
                Select Session
              </button>
              <button
                class="bg-secondary-light border-[1px] px-5 py-2 text-white font-semibold border-secondary-dark rounded-md"
              >
                Date
              </button>
            </div>
          </div>
          <div class="overflow-hidden">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="py-3 px-4 pe-0">
                    <div class="flex items-center h-5">
                      <input
                        id="hs-table-pagination-checkbox-all"
                        type="checkbox"
                        class="border-gray-200 rounded text-blue-600 focus:ring-blue-500"
                      />
                      <label
                        for="hs-table-pagination-checkbox-all"
                        class="sr-only"
                        >Checkbox</label
                      >
                    </div>
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase"
                  >
                    Patient Name
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase"
                  >
                    Age
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase"
                  >
                    Problem
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase"
                  >
                    Action
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200">
                @for (item of appointmentList; track $index) {
                <tr>
                  <td class="py-3 ps-4">
                    <div class="flex items-center h-5">
                      <input
                        id="hs-table-pagination-checkbox-1"
                        type="checkbox"
                        class="border-gray-200 rounded text-blue-600 focus:ring-blue-500"
                      />
                      <label
                        for="hs-table-pagination-checkbox-1"
                        class="sr-only"
                        >Checkbox</label
                      >
                    </div>
                  </td>
                  <td
                    class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"
                  >
                    {{ item.patientName }}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                    45
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                    New York No. 1 Lake Park
                  </td>
                  <td
                    class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium"
                  >
                    <button
                      (click)="goToJoinCall(item)"
                      type="button"
                      class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none"
                    >
                      Join Call
                    </button>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
          <div class="py-1 px-4">
            <nav class="flex items-center space-x-1">
              <button
                type="button"
                class="p-2.5 min-w-[40px] inline-flex justify-center items-center gap-x-2 text-sm rounded-full text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none"
              >
                <span aria-hidden="true">«</span>
                <span class="sr-only">Previous</span>
              </button>
              <button
                type="button"
                class="min-w-[40px] flex justify-center items-center text-gray-800 hover:bg-gray-100 py-2.5 text-sm rounded-full disabled:opacity-50 disabled:pointer-events-none"
                aria-current="page"
              >
                1
              </button>
              <button
                type="button"
                class="min-w-[40px] flex justify-center items-center text-gray-800 hover:bg-gray-100 py-2.5 text-sm rounded-full disabled:opacity-50 disabled:pointer-events-none"
              >
                2
              </button>
              <button
                type="button"
                class="min-w-[40px] flex justify-center items-center text-gray-800 hover:bg-gray-100 py-2.5 text-sm rounded-full disabled:opacity-50 disabled:pointer-events-none"
              >
                3
              </button>
              <button
                type="button"
                class="p-2.5 min-w-[40px] inline-flex justify-center items-center gap-x-2 text-sm rounded-full text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none"
              >
                <span class="sr-only">Next</span>
                <span aria-hidden="true">»</span>
              </button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

