/* image-upload-modal.component.css */
.image-preview {
    margin-top: 10px;
    
  }
  
  .image-preview img {
    max-width: 100%;
    margin: 0 auto;
    max-height: calc( 100vh - 200px );
    display: block;
    margin-bottom: 10px;
  }
  
  .button-group {
    margin-top: 15px;
  }
  
  button {
    margin-right: 10px;
  }
  