<div class="p-10">
  <form [formGroup]="resetPasswordForm" class="space-y-4 md:space-y-5">
    <div>
      <h1 class="font-Roboto-semibold font-semibold text-[24px]">
        Change your password
      </h1>
      <hr class="my-5" />
      <label
        for="confirm-password"
        class="block mb-2 text-sm font-medium text-gray-800"
        >New password</label
      >
      <div class="form_input flex justify-between">
        <input
          formControlName="newPassword"
          [type]="passwordFieldType"
          name="password"
          id="password"
          class="outline-none border-none w-full"
          placeholder="Password"
          (keydown.enter)="$event.preventDefault()"
        />
        <button (click)="passwordVisibility('password')" class="cursor-pointer">
          <i
            [class]="
              passwordFieldType === 'password' ? 'fa fa-eye-slash' : 'fa fa-eye'
            "
          ></i>
        </button>
      </div>
    </div>

    <div>
      <label
        for="confirm-password"
        class="block mb-2 text-sm font-medium text-gray-800"
        >Confirm password</label
      >
      <div class="form_input flex justify-between">
        <input
          formControlName="confirmPassword"
          [type]="passwordFieldType"
          name="confirmPassword"
          id="confirmPassword"
          class="outline-none border-none w-full"
          placeholder="Confirm Password"
          (keydown.enter)="$event.preventDefault()"
        />
        <button (click)="passwordVisibility('password')" class="cursor-pointer">
          <i
            [class]="
              passwordFieldType === 'password' ? 'fa fa-eye-slash' : 'fa fa-eye'
            "
          ></i>
        </button>
      </div>

      <div class="flex flex-col">
        <mat-error
          *ngIf="
            resetPasswordForm.dirty &&
            resetPasswordForm.get('confirmPassword')?.hasError('required')
          "
        >
          Confirm password is required.
        </mat-error>
        <mat-error
          *ngIf="
            resetPasswordForm.dirty &&
            resetPasswordForm.get('confirmPassword')?.valid &&
            resetPasswordForm.get('confirmPassword')?.dirty &&
            resetPasswordForm.get('confirmPassword')?.errors
          "
        >
          Password not matched.
        </mat-error>
      </div>
    </div>
    <mat-hint
      *ngIf="
        resetPasswordForm.get('newPassword')?.invalid ||
        resetPasswordForm.get('newPassword')?.value === '0'
      "
      class="text-xs text-red-500 font-normal"
      >hint: Password&#64;123</mat-hint
    >
    <div class="flex items-start mt-4">
      <div class="flex items-center h-5">
        <input
          id="newsletter"
          aria-describedby="newsletter"
          type="checkbox"
          class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300"
          required=""
        />
      </div>
      <div class="ml-3 text-sm">
        <label for="newsletter" class="font-light text-gray-500"
          >I accept the
          <a
            routerLink="/terms-services"
            (click)="dialogRef.close()"
            class="font-medium text-slate-800-600 hover:underline"
            >Terms and Conditions</a
          ></label
        >
      </div>
    </div>

    <button
      [disabled]="
        (resetPasswordForm.get('newPassword')?.invalid &&
          !resetPasswordForm.get('newPassword')?.dirty) ||
        (resetPasswordForm.get('confirmPassword')?.invalid &&
          !resetPasswordForm.get('confirmPassword')?.dirty)
      "
      type="submit"
      (click)="confirmPassword()"
      class="w-full text-white bg-secondary bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
    >
      Confirm passwod
    </button>
  </form>
</div>
