<div class="p-10">
  <h1 class="font-Roboto-semibold text-[24px] pb-5 border-b-[1px]">
    Delete account
  </h1>
  <!-- <div class="border-[1px] rounded-xl p-5 flex items-center gap-5">
    <h1 class="flex-2">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius,
      dignissimos.
    </h1>
    <input type="checkbox" class="toggle toggle-md" />
  </div>
  <div class="space-y-2 mt-5">
    <label for="reason">Reason</label>
    <div class="flex items-center">
      <input
        id="default-checkbox"
        type="checkbox"
        value=""
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-2"
      />
      <label
        for="default-checkbox"
        class="ms-2 text-sm font-medium text-gray-900"
        >Reason one
      </label>
    </div>
    <div class="flex items-center">
      <input
        id="checked-checkbox"
        type="checkbox"
        value=""
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-2"
      />
      <label
        for="default-checkbox"
        class="ms-2 text-sm font-medium text-gray-900"
        >Another Reason
      </label>
    </div>
    <div class="flex items-center">
      <input
        checked
        id="checked-checkbox"
        type="checkbox"
        value=""
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-2"
      />
      <label
        for="default-checkbox"
        class="ms-2 text-sm font-medium text-gray-900"
        >Other
      </label>
    </div>
  </div>
  <button class="btn-secondary mt-5 bg-red-500">Request to delete</button> -->
  This feature will be comming soon!
</div>
