// ::ng-deep .mdc-line-ripple{
//     display: none;
// }

// ::ng-deep .mat-mdc-text-field-wrapper{
//     border: 1px solid rgb(211, 211, 211);
//     color: white!important;
//     height: 45px!important;
//     background: transparent!important;
//     border-radius: 10px!important;
// }

// ::ng-deep .mat-mdc-text-field-wrapper:focus-within{
//   background: red;
// }

// ::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
//     top: 30px;
// }
// ::ng-deep .mat-mdc-select-arrow svg{
//   top: 0;
//   color: rgb(52, 181, 255);
// }
// // ::ng-deep .mat-mdc-form-field{
// //    margin-left: 15px;
// // }
// ::ng-deep .mat-mdc-paginator-page-size-select{
//   height: 40px;
// }
// ::ng-deep .mat-mdc-paginator-container{
//     background: white;
//     border-radius: 10px;
// }

// ::ng-deep .mat-mdc-form-field-infix {
//     padding-top: 9px!important;
//     padding-bottom: 0px;
//   }

@media (min-width:320px) and (max-width:576px) {
  ::ng-deep .mat-mdc-form-field {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
}

// ::ng-deep .mat-mdc-select-trigger .mat-mdc-select-placeholder{
//  color: white!important;
// }

// ::ng-deep .cdk-overlay-pane div.mat-mdc-select-panel{
//   background: #f4c1c8;

// }

// ::ng-deep .mat-mdc-option,.mat-mdc-select{
//  color: white!important;
// }
// ::ng-deep .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
//   color: #fbbf24!important;
// }
