<div [style]="from == 'appointment' ? 'top:0' : 'top:0'"
  class="w-full border-b-[1px] z-40 mb-5 flex justify-between items-center bg-white text-slate-900 font-poppins">
  <div class="container">
    <form [formGroup]="filterForm" class="grid lg:grid-cols-[3fr,9fr] grid-cols-1 w-full my-5 lg:my-0">
      <div class="flex sm:ml-auto sm:justify-end w-full">
        <div class="flex w-full sm:flex-row flex-col sm:gap-3 mt-5 min-w-[320px]">
          <mat-form-field *ngFor="let item of filterInput.fields.filterField">
            <mat-select *ngIf="item.fieldType == 'select'" [placeholder]="item.label"
              [formControlName]="item.formControlName">
              <mat-option *ngFor="let items of item.options" value="{{
                  item.formControlName == 'consultancy' || 'appointmentType'? items.name : items.id
                }}" class="font-semibold text-gray-100">
                {{ items.name }}</mat-option>
            </mat-select>

            <div *ngIf="item.fieldType == 'date'" (click)="picker.open()">
              <input placeholder="Appointment date" [formControlName]="item.formControlName" matInput
                [matDatepicker]="picker" />
              <mat-datepicker #picker></mat-datepicker>
            </div>

            <div *ngIf="item.fieldType == 'date-range'" (click)="picker.open()">
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date" [formControlName]="item.formControlName.startDate" />
                <input matEndDate placeholder="End date" [formControlName]="item.formControlName.endDate" />
              </mat-date-range-input>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </div>

            <div *ngIf="item.fieldType == 'input'">
              <input placeholder="Appointment date" matInput [formControlName]="item.formControlName" />
            </div>
          </mat-form-field>
        </div>
      </div>
      <div class="flex sm:gap-8 items-center justify-self-end w-full lg:w-[500px]">
        <div
          class="w-full max-w-full lg:focus-within:shadow-xl pl-2 duration-300 py-3 max-h-[50px] overflow-hidden rounded-md bg-slate-100 flex items-center border-gray-200 border-[1px]">
          <input type="search" [formControlName]="filterInput.fields.searchField.formControlName"
            class="outline-none bg-transparent pl-2 w-full font-poppins text-black/80 placeholder:text-black/50"
            placeholder="Search" />
          <span class="p-4 bg-secondary cursor-pointer ml-2">
            <i class="fa-solid fa-magnifying-glass text-slate-900"></i>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- <div class="w-full bg-white text-slate-900 font-poppins rounded-xl shadow-sm pt-6 overflow-hidden">
  <form [formGroup]="filterForm" class="w-full">
    <div class="grid lg:grid-cols-[9fr,3fr] grid-cols-1 w-full my-5 lg:my-0 gap-6 px-6 pb-6">
      <div class="flex gap-4 mb-4 items-center w-full">
        <ng-container *ngFor="let item of filterInput.fields.filterField">
          <div *ngIf="item.fieldType === 'select'" class="flex flex-1 flex-col max-h-[40px]">
            <label class="text-[14px]">{{ item.label }}</label>
            <select [formControlName]="item.formControlName"
              class="border border-gray-300 bg-slate-100 outline-none rounded-md p-2 pr-3 mt-1 cursor-pointer">
              <option *ngFor="let opt of item.options"
                [value]="item.formControlName == 'consultancy' ||'appointmentType' ? opt.name : opt.id">
                {{ opt.name }}
              </option>
            </select>
          </div>

          <div *ngIf="item.fieldType == 'date'" (click)="picker.open()">
            <input placeholder="Appointment date" [formControlName]="item.formControlName" matInput
              [matDatepicker]="picker" />
            <mat-datepicker #picker></mat-datepicker>
          </div>


          <div *ngIf="item.fieldType == 'date-range'" class="mt-5">
            <label class="text-[14px]">Date</label>
            <div (click)="picker.open()"
              class="flex mt-1 max-h-[42px] items-center justify-between border border-gray-300 bg-slate-100 outline-none rounded-md p-2 cursor-pointer">

              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date" [formControlName]="item.formControlName.startDate" />
                <input matEndDate placeholder="End date" [formControlName]="item.formControlName.endDate" />
              </mat-date-range-input>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </div>
          </div>

          <mat-form-field *ngIf="item.fieldType === 'input'" appearance="outline" class="w-full">
            <mat-label>{{ item.label || 'Search' }}</mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <input matInput [formControlName]="item.formControlName" placeholder="{{ item.label || 'Search' }}" />
          </mat-form-field>
        </ng-container>
      </div>

      <div
        class="pl-2 duration-300 py-3 max-h-[40px] overflow-hidden rounded-md bg-slate-100 flex items-center border-gray-200 border-[1px]">
        <input type="search" [formControlName]="filterInput.fields.searchField.formControlName"
          class="outline-none bg-transparent pl-2 w-full font-poppins text-black/80 placeholder:text-black/50"
          placeholder="Search" />

      </div>
    </div>

    <div class="flex items-center justify-between gap-6 border-b border-gray-200 text-sm font-medium pt-2">
      <button type="button" class="text-sky-600 pb-2 border-b-2 border-sky-500 flex-1">All</button>
      <button type="button" class="text-gray-500 hover:text-sky-600 transition flex-1">Today</button>
      <button type="button" class="text-gray-500 hover:text-sky-600 transition flex-1">Upcoming</button>
      <button type="button" class="text-gray-500 hover:text-sky-600 transition flex-1">Completed</button>
    </div>
  </form>
</div> -->