<div class="overflow-hidden" class="doctor-dashboard_midcontent_container w-ful">
  <div class="flex items-center justify-left">
    <div class="w-full bg-white">
      <div class="relative overflow-x-auto sm:rounded-lg px-4 py-6 md:p-8">
        <div class="flex gap-4 items-center justify-between">
          <h1 class="dashbord-heading-text text-[18px] md:text-[22px]">
            <i class="fa-solid fa-building-columns mr-1"></i> Hospital
          </h1>
        </div>
        <app-hospital-info></app-hospital-info>

      </div>
    </div>
  </div>
</div>