<div
  class="bottom-box border-[1px] mt-7 h-fit bg-white rounded-lg box-border shadow-2xl shadow-blue-500/10"
>
  <div class="flex justify-between border-b-[1px] items-center px-5 py-3">
    <h2 class="dashbord-heading-text h-fit">
      <i class="fa-solid fa-calendar-check mr-2"></i> Appointments
    </h2>
    <div class="flex gap-3">
      <button class="btn-secondary-light h-fit">View all</button>
      <button
        class="btn-secondary h-fit py-2 px-4 bg-primary"
        (click)="onClickBooking.emit()"
      >
        Book Now
      </button>
    </div>
  </div>

  <div class="px-4 py-3">
    <table
      class="w-full text-sm text-left rounded-lg text-gray-500 border-[1px]"
    >
      <thead class="text-xs rounded-lg text-gray-800 uppercase bg-black/5">
        <tr>
          <th scope="col" class="px-6 py-3">Patient's Name</th>
          <th scope="col" class="px-6 py-3">Mobile No.</th>
          <th scope="col" class="px-6 py-3">Doctor's Name</th>
          <th *ngIf="layout !== 'dashboard'" scope="col" class="px-6 py-3">
            Dr. Specialist
          </th>
          <th scope="col" class="px-6 py-3">Status</th>
          <th *ngIf="layout !== 'dashboard'" scope="col" class="px-6 py-3">
            Prescriptions
          </th>
          <th scope="col" class="px-6 py-3">App. Time</th>
          <th scope="col" class="px-6 py-3">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white hover:bg-gray-50">
          <td class="px-6 py-4">Abdullah</td>
          <td class="px-6 py-4">01855565223</td>
          <td class="px-6 py-4">Dr. John Doe</td>
          <td *ngIf="layout !== 'dashboard'" class="px-6 py-4">Cardiologist</td>
          <td class="px-6 py-4">Upcoming</td>
          <td *ngIf="layout !== 'dashboard'" class="px-6 py-4">
            sg-patient.pdf
          </td>
          <td class="px-6 py-4">12/01/23 - 4.50pm</td>

          <td class="px-6 py-4 flex gap-2">
            <a class="font-medium text-blue-600 hover:underline">Edit</a>
            <a class="font-medium text-blue-600 hover:underline">Delete</a>
          </td>
        </tr>
        <tr class="bg-white hover:bg-gray-50">
          <td class="px-6 py-4">Abdullah</td>
          <td class="px-6 py-4">01855565223</td>
          <td class="px-6 py-4">Dr. John Doe</td>
          <td *ngIf="layout !== 'dashboard'" class="px-6 py-4">Cardiologist</td>
          <td class="px-6 py-4">Upcoming</td>
          <td *ngIf="layout !== 'dashboard'" class="px-6 py-4">
            sg-patient.pdf
          </td>
          <td class="px-6 py-4">12/01/23 - 4.50pm</td>

          <td class="px-6 py-4 flex gap-2">
            <a class="font-medium text-blue-600 hover:underline">Edit</a>
            <a class="font-medium text-blue-600 hover:underline">Delete</a>
          </td>
        </tr>
        <tr class="bg-white hover:bg-gray-50">
          <td class="px-6 py-4">Abdullah</td>
          <td class="px-6 py-4">01855565223</td>
          <td class="px-6 py-4">Dr. John Doe</td>
          <td *ngIf="layout !== 'dashboard'" class="px-6 py-4">Cardiologist</td>
          <td class="px-6 py-4">Upcoming</td>
          <td *ngIf="layout !== 'dashboard'" class="px-6 py-4">
            sg-patient.pdf
          </td>
          <td class="px-6 py-4">12/01/23 - 4.50pm</td>

          <td class="px-6 py-4 flex gap-2">
            <a class="font-medium text-blue-600 hover:underline">Edit</a>
            <a class="font-medium text-blue-600 hover:underline">Delete</a>
          </td>
        </tr>
        <tr class="bg-white hover:bg-gray-50">
          <td class="px-6 py-4">Abdullah</td>
          <td class="px-6 py-4">01855565223</td>
          <td class="px-6 py-4">Dr. John Doe</td>
          <td *ngIf="layout !== 'dashboard'" class="px-6 py-4">Cardiologist</td>
          <td class="px-6 py-4">Upcoming</td>
          <td *ngIf="layout !== 'dashboard'" class="px-6 py-4">
            sg-patient.pdf
          </td>
          <td class="px-6 py-4">12/01/23 - 4.50pm</td>

          <td class="px-6 py-4 flex gap-2">
            <a class="font-medium text-blue-600 hover:underline">Edit</a>
            <a class="font-medium text-blue-600 hover:underline">Delete</a>
          </td>
        </tr>
        <!-- <tr class="bg-white hover:bg-gray-50">

                    <td class="px-6 py-4">
                        Abdullah
                    </td>
                    <td class="px-6 py-4">
                        01855565223
                    </td>
                    <td class="px-6 py-4">
                        Dr. John Doe
                    </td>
                    <td class="px-6 py-4">
                        Cardiologist
                    </td>
                    <td class="px-6 py-4">
                        Upcoming
                    </td>
                    <td class="px-6 py-4">
                        sg-patient.pdf
                    </td>
                    <td class="px-6 py-4">
                        12/01/23 - 4.50pm
                    </td>

                    <td class="px-6 py-4 flex gap-2">
                        <a class="font-medium text-blue-600 hover:underline">Edit</a>
                        <a class="font-medium text-blue-600 hover:underline">Delete</a>
                    </td>
                </tr>
                <tr class="bg-white hover:bg-gray-50">

                    <td class="px-6 py-4">
                        Abdullah
                    </td>
                    <td class="px-6 py-4">
                        01855565223
                    </td>
                    <td class="px-6 py-4">
                        Dr. John Doe
                    </td>
                    <td class="px-6 py-4">
                        Cardiologist
                    </td>
                    <td class="px-6 py-4">
                        Upcoming
                    </td>
                    <td class="px-6 py-4">
                        sg-patient.pdf
                    </td>
                    <td class="px-6 py-4">
                        12/01/23 - 4.50pm
                    </td>

                    <td class="px-6 py-4 flex gap-2">
                        <a class="font-medium text-blue-600 hover:underline">Edit</a>
                        <a class="font-medium text-blue-600 hover:underline">Delete</a>
                    </td>
                </tr>
                <tr class="bg-white hover:bg-gray-50">

                    <td class="px-6 py-4">
                        Abdullah
                    </td>
                    <td class="px-6 py-4">
                        01855565223
                    </td>
                    <td class="px-6 py-4">
                        Dr. John Doe
                    </td>
                    <td class="px-6 py-4">
                        Cardiologist
                    </td>
                    <td class="px-6 py-4">
                        Upcoming
                    </td>
                    <td class="px-6 py-4">
                        sg-patient.pdf
                    </td>
                    <td class="px-6 py-4">
                        12/01/23 - 4.50pm
                    </td>

                    <td class="px-6 py-4 flex gap-2">
                        <a class="font-medium text-blue-600 hover:underline">Edit</a>
                        <a class="font-medium text-blue-600 hover:underline">Delete</a>
                    </td>
                </tr>
                <tr class="bg-white hover:bg-gray-50">
                    <td class="px-6 py-4">
                        Abdullah
                    </td>
                    <td class="px-6 py-4">
                        01855565223
                    </td>
                    <td class="px-6 py-4">
                        Dr. John Doe
                    </td>
                    <td class="px-6 py-4">
                        Cardiologist
                    </td>
                    <td class="px-6 py-4">
                        Upcoming
                    </td>
                    <td class="px-6 py-4">
                        sg-patient.pdf
                    </td>
                    <td class="px-6 py-4">
                        12/01/23 - 4.50pm
                    </td>
                    <td class="px-6 py-4 flex gap-2">
                        <a class="font-medium text-blue-600 hover:underline">Edit</a>
                        <a class="font-medium text-blue-600 hover:underline">Delete</a>
                    </td>
                </tr> -->
      </tbody>
    </table>
  </div>
</div>
