<div
  class="py-2 pl-5 mt-7 pr-1 border-[1px] rounded-md flex gap-4 items-center"
>
  <h1
    class="inline-block font-Roboto w-fit text-[15px] md:text-[18px] font-medium"
  >
    <i
      [class]="iconClass"
      class="text-slate-900 mr-1 text-[14px] md:text-[18px]"
    ></i>
    {{ headingText }}
  </h1>
  <button
    class="btn-secondary-light min-w-fit px-3 md:px-4 border-secondary-dark/30 border-[1px]"
    (click)="openForm.emit()"
  >
    <i *ngIf="!buttonStatus" class="fa-solid fa-arrow-down mr-1 rotate-50"></i>
    <i *ngIf="buttonStatus" class="fa-solid fa-arrow-up mr-1 rotate-50"></i>
    {{ buttonText }}
  </button>
</div>

