<div class="grid space-y-2 w-full p-8 sm:w-full">
  <div class="flex justify-between">
    <label class="text-md font-bold mb-3 text-gray-500 tracking-wide">Upload your previous documents.</label>
    <button (click)="dialogRef.close()">Close</button>
  </div>
  <div class="flex items-center flex-col justify-center w-full">
    <label class="flex flex-col rounded-lg border-4 border-dashed w-full h-60 p-10 group text-center">
      <div class="h-full w-full text-center flex flex-col justify-center items-center">
        <div class="flex flex-auto max-h-48 mx-auto -mt-10">
          <img *ngIf="!selectedFileContent" class="has-mask h-36 object-center"
            src="https://img.freepik.com/free-vector/image-upload-concept-landing-page_52683-27130.jpg?size=338&ext=jpg"
            alt="freepik image" />
          <!-- Display PDF or image using iframe or img -->
          <ng-container *ngIf="selectedFileContent">
            <iframe *ngIf="isPdf(selectedFileName)" [src]="selectedFileContent" width="100%" height="100%"></iframe>
            <img *ngIf="!isPdf(selectedFileName)" [src]="selectedFileContent" alt="selected file" width="300"
              height="300" class="has-mask h-36 object-contain" />
          </ng-container>
        </div>
        <p class="pointer-none text-gray-500">
          <span class="text-sm" *ngIf="selectedFileName">{{
            selectedFileName
            }}</span>
          <span *ngIf="!selectedFileName">Click here to select your file!</span>
        </p>
        <button ngClass="mt-3" *ngIf="selectedFileName" (click)="onDeleteFile()">
          Change
        </button>
      </div>
      <input type="file" (change)="onFileChanged($event)" #attachments #fileInput accept=".jpg,.jpeg,.png,.pdf"
        class="hidden" />
    </label>

    <button class="btn-secondary border border-transparent mt-5" (click)="savePreviousDocument()">
      {{ loading.message }}
    </button>
  </div>
</div>