<div class="border bg-secondary-light bg-opacity-25 rounded-lg p-6 text-gray-800 relative z-10" style="cursor: auto">
  <div class="flex flex-wrap items-center">
    <div class="w-full flex flex-col justify-between">
      <div class="mt-2">
        <h2 class="font-bold text-[20px] capitalize">
          {{ degreeData?.instituteName }}
        </h2>
        <div class="flex flex-wrap text-center gap-3">
          <div class="text-[14px] text-gray-600 font-poppins">
            {{ degreename }} :
          </div>
          <div class="text-[14px] text-gray-600 font-poppins">
            Duration: {{ degreeData?.duration }} Years
          </div>

        </div>

        <ul class="text-sm mt-4 list-disc list-inside text-gray-500 leading-relaxed capitalize">
          <li>Institute City : {{ degreeData?.instituteCity }}</li>
          <li>Institute Country :{{ degreeData?.instituteCountry }}</li>
          <li>Zip Code{{ degreeData?.zipCode }}</li>
        </ul>

        <div class="absolute top-1 right-2">
          {{ degreeData.isPrescriptionShow ? "Show on RX" : ''}}
        </div>
      </div>

      <div class="w-full sm:flex-2 pt-6">
        <button class="btn-secondary" (click)="editDegree.emit(degreeData)">
          Update
        </button>

      </div>
    </div>
  </div>
</div>