::ng-deep ngx-mat-timepicker .ngx-mat-timepicker-clock-face__number {
    color: black !important;
    font-size: 14px;
    opacity: 1;
    z-index: 1;
}

:host ::ng-deep .ngx-mat-timepicker-clock-face__number {
    color: black !important;
}

::ng-deep ngx-mat-timepicker {
    background-color: #fff;
    color: #000;
}


::ng-deep .picker .mat-mdc-mini-fab {
    background-color: transparent !important;
    color: red !important;
}

::ng-deep .mat-mdc-fab:active,
.mat-mdc-fab:focus:active,
.mat-mdc-mini-fab:active,
.mat-mdc-mini-fab:focus:active {
    background-color: red !important;
    color: white !important;
}