<div class="bg-white border-b-[1px] hidden lg:block">
  <div class="container-full">
    <div class="flex justify-between w-full py-3">
      <div
        class="rounded-[25px] bg-secondary/10 px-4 flex gap-2 py-1 text-[14px] font-Roboto"
      >
        Soowgood healthcare services booth point
        <a class="text-slate-900 underline flex" href=""
          >Check <img class="w-4" src="assets/icons/link-arrow.svg" alt="icons"
        /></a>
      </div>
      <div
        class="rounded-[25px] bg-secondary/10 px-4 flex gap-2 py-1 text-[14px] font-Roboto"
      >
        Village Booth healthcare services point
        <a class="text-slate-900 underline flex" href=""
          >Check<img
            class="w-4"
            src="assets/icons/link-arrow.svg"
            alt="icons"
          />
        </a>
      </div>
    </div>
  </div>
</div>

