@if (isLoading) {
<div class="max-w-md w-full bg-white rounded-xl shadow-lg p-6">

    <div class="bg-blue-50 rounded-xl p-5 mb-4">
        <div class="flex justify-between items-center">
            <div>
                <div class="h-3 bg-gray-200 rounded w-32 mb-3 animate-pulse-custom"></div>
                <div class="h-5 bg-gray-200 rounded w-16 animate-pulse-custom"></div>
            </div>
            <div class="bg-gray-200 h-9 w-9 rounded-full animate-pulse-custom"></div>
        </div>
    </div>

    <div class="grid grid-cols-2 gap-4">

        <div class="bg-green-50 rounded-xl p-5">
            <div class="flex flex-col">
                <div class="h-3 bg-gray-200 rounded w-16 mb-3 animate-pulse-custom"></div>
                <div class="h-5 bg-gray-200 rounded w-12 animate-pulse-custom"></div>

            </div>
        </div>


        <div class="bg-purple-50 rounded-xl p-5">
            <div class="flex flex-col">
                <div class="h-3 bg-gray-200 rounded w-24 mb-3 animate-pulse-custom"></div>
                <div class="h-5 bg-gray-200 rounded w-12 animate-pulse-custom"></div>

            </div>
        </div>
    </div>
</div>

}@else {
<div class="flex flex-wrap gap-3 bg-white p-3 rounded-lg shadow-md">
    <!-- Total Appointments -->
    <div class="bg-blue-50 w-full rounded-lg p-3 border border-blue-100">
        <div class="flex items-center justify-between">
            <div>
                <p class="text-sm text-blue-600 font-medium">Total Appointment</p>
                <h3 class="text-2xl font-bold text-blue-700">{{states.totalAppointment}}</h3>
            </div>
            <div class="bg-blue-100 p-3 rounded-full">

            </div>
        </div>
    </div>

    <!-- New Appointments -->
    <div class="bg-green-50 w-[48%] box-border rounded-lg p-3 border border-green-100">
        <div class="flex items-center justify-between">
            <div>
                <p class="text-sm text-green-600 font-medium">New</p>
                <h3 class="text-2xl font-bold text-green-700">{{states.totalNewAppointment}}</h3>
            </div>
            <div class="bg-green-100 p-3 rounded-full">

            </div>
        </div>
    </div>

    <!-- Completed Appointments -->
    <div class="bg-purple-50 w-[48%] box-border rounded-lg p-3 border border-purple-100">
        <div class="flex items-center justify-between">
            <div>
                <p class="text-sm text-purple-600 font-medium">Follow-up</p>
                <h3 class="text-2xl font-bold text-purple-700">{{states.totalFollowUpAppointment}}</h3>
            </div>
            <div class="bg-purple-100 p-3 rounded-full">

            </div>
        </div>
    </div>


</div>
}