<div class="px-4">
  <app-topbar (enterFullScreen)="enterFullScreen()" [isPreHand]="isPreHand" [appointmentId]="appointmentInfo.id"
    [patientId]="appointmentInfo.patientProfileId" [doctorId]="appointmentInfo.doctorProfileId"
    (onClickSelectChamber)="onClickSelectChamber()" />
  <div>


    <div #fullScreenElement>
      @if (isLoading) {
      <div>
        <app-prescription-skelton />
      </div>
      }@else {

      <div [class]="isFullScreen ? 'h-screen':'min-h-[800px]'"
        class="w-full h-full mx-auto border-[1px] py-8 px-6 shadow-xl bg-white rounded-lg overflow-y-auto">

        <form [formGroup]="prescribeForm">
          <div class="h-full">
            <div class="flex flex-wrap justify-between w-full">
              <app-doctor-info [doctor]="doctor" [isPreHand]="isPreHand" [isHeader]="isHeader" />
            </div>
            <app-patient-info [patient]="patient" />
            @if (uploadImage.isUploadImage && uploadImage.image !== '') {
            <img [src]="uploadImage.image" width="500" height="500">
            }@else {
            <div class="flex flex-wrap h-full">
              <div class="w-full md:max-w-[400px]">
                <app-section [fields]="['name', 'duration', 'notes']" title="Chief Complaints" [items]="complaints"
                  (buttonClick)="openComplaintDialog()"></app-section>
                <app-section [fields]="['name', 'pastHistory', 'presentHistory']" title="History" [items]="historys"
                  (buttonClick)="openHistoryDialog()"></app-section>
                <app-section [fields]="['name', 'notes']" title="Examination" [items]="exam"
                  (buttonClick)="openExaminationDialog()"></app-section>
                <app-section [fields]="['name', 'pastDiagnosis', 'presentDiagnosis']" title="Diagnosis"
                  [items]="diagnosis" (buttonClick)="openDiagnosisDialog()"></app-section>
                <app-section [fields]="['name', 'duration', 'notes']" title="Investigation" [items]="tests"
                  (buttonClick)="openTestDialog()"></app-section>
              </div>
              <div class="w-[1px] min-h-full bg-gray-200"></div>
              <div class="w-full justify-end flex-1 pl-8">
                <div class="mb-6">
                  <div class="w-full flex justify-between items-center gap-1 font-poppins">
                    <img class="w-[30px] h-[30px]" src="/assets/other/rx.png" alt="rx">
                    @if (medications.length > 0) {
                    <span (click)="openMedicineDialog()"
                      class="flex text-slate-900 text-[14px] items-center gap-1 cursor-pointer">
                      Edit
                      <app-modal-icon />
                    </span>
                    }
                  </div>
                  <div class="space-y-3 mt-3">
                    <app-medication [medications]="medications" (openMedicineDialog)="openMedicineDialog()" />
                  </div>

                </div>

                <div class="flex gap-4 mt-5">
                  <div class="mb-6 w-1/2" (click)="openAdviceDialog()">
                    <div class="flex items-center justify-between gap-1 font-poppins">
                      Advice
                      @if (advice.length > 0) {
                      <span class="flex text-[14px] text-slate-900 items-center gap-1 cursor-pointer">
                        Edit
                        <app-modal-icon />
                      </span>
                      }
                    </div>
                    <ul class="border-dotted rounded-xl border-2 border-gray-300 p-4 w-full min-h-[100px]">
                      @for (advice of advice; track $index) {
                      <li class="font-poppins text-[14px]">
                        {{$index + 1}}. {{advice.name}}-{{advice.notes}}
                      </li>
                      }@empty {
                      <div class="p-4 w-full flex justify-center">
                        <p class="text-gray-500 underline hover:font-bold cursor-pointer duration-200">Add Advice</p>
                      </div>
                      }
                    </ul>
                  </div>

                  <div class="w-1/2">
                    <button class="flex items-center gap-1 font-poppins">
                      Follow-up
                    </button>

                    <div
                      class="relative border-dotted rounded-xl border-2 border-gray-300 p-4 text-center w-full h-[100px] flex items-center justify-center">

                      <input class="absolute top-0 opacity-0" matInput [matDatepicker]="picker"
                        (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)" />
                      @if (!followupDate) {Add Follo-up Date} @else { {{followupDate | date: 'dd-MM-yyyy'}} }
                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>

                    </div>


                  </div>
                </div>
              </div>
            </div>
            }
            <app-bottom-nav [isPreHand]="isPreHand" [appointmentCode]="appointmentCode" />
          </div>
        </form>

      </div>
      }
    </div>

  </div>
</div>
